.promiseprompt {
  --menubg: #888;
  --otherbg: #666;
  --inputbg: #aaa;
  --fg:#000;
  --p-hover:#392a;
  --p-selected:#e62a;
  --btnfg: #fff;
  position: fixed;
  z-index: 1001;
  top: 10em;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 0.2em 1em 0.5em;
  border: 1px solid var(--menubg);
  background: var(--otherbg);
  line-height: 1.25em;
  width: min(20em, 70vw);
  border-radius: 0.5em;

  .promisetext {
    text-align: left;
    margin-bottom: 0.75em;
  }
  & input {
    background: var(--inputbg);
    color: var(--fg);
    /* margin: 0.5em 0; */
    padding: 0.1em 0;
    /* width: 100%; */
  }

  .promisebtns {
    text-align: right;
    & button {
      margin: 0.25em;
      border: none;
      background: transparent;
      color: var(--btnfg);
      font-size: 90%;
      border-radius: 0.2em;
      padding: 0.2em;

      &:hover {
        background-color: var(--p-hover);
      }
      &:active {
        background: var(--p-selected);
      }
    }
  }
}
