#sparky {
  position: fixed;
  display: block;
  z-index: 1000;
  width: 0;
  height: 0;
  pointer-events: none;
  background: transparent;
  border: 0 solid;
  border-radius: 50%;
  transition: all 1.5s cubic-bezier(0, 0.91, 0.2, 0.97);
}
