:root {
  /* --bodybg: #333; */
  /* --bodyfg: var(--bs-body-color); */
  /* --linkcolor: var(--bs-link-color); */

  --cal-today: #d70;

  --cal-hover: #3cf9;
  --cal-noshifthover: #234;
  --cal-selected: #cf3;

  --cal-tableborder: #88a;

  --cal-basecolor: 240;
  --cal-darkness: 1;
  --cal-saturation: 1;

  --cal-bg: #222;
  --cal-fg: #fff;
  --cal-border: hsl(
    var(--cal-basecolor),
    calc(var(--cal-saturation) * 20%),
    calc(var(--cal-darkness) * 78%)
  );
  --cal-btnbg: hsl(
    var(--cal-basecolor),
    calc(var(--cal-saturation) * 100%),
    calc(var(--cal-darkness) * 87%)
  );
  --cal-btnfg: hsl(
    var(--cal-basecolor),
    calc(var(--cal-saturation) * 11%),
    calc(var(--cal-darkness) * 29.8%)
  );
  --cal-btnhover: hsl(
    var(--cal-basecolor),
    calc(var(--cal-saturation) * 100%),
    calc(var(--cal-darkness) * 83.5%)
  );
  --cal-btnactive: hsl(
    calc(var(--cal-basecolor) - 190),
    calc(var(--cal-saturation) * 100%),
    calc(var(--cal-darkness) * 65%)
  );
}

.calholder {
  position: relative;
  /* width: 100%; */
  --blocksize: 3em;
  user-select: none;
  margin-top: 2em;
  color:var(--cal-fg);
  &:not(:has(.monthblock ~ .monthblock)) {
    display: table;
    left: 50%;
    transform: translate(-50%);
  }

  /* &:has(.monthblock ~ .monthblock) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  } */

  background-color: var(--cal-bg);
  border: 0.01em solid var(--cal-tableborder);

  .calfade,
  .calfade::before {
    opacity: 0.4;
  }

  .monthrow {
    /* left: 0; */
    display: block;
    position: relative;

    &:has(.monthblock ~ .monthblock) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    /*grid-template-columns: 1fr 1fr 1fr;*/
    /* transition: all 0.5s; */

    .monthblock {
      position: relative;
      display: grid;
      margin: calc(var(--blocksize) / 10);
      grid-template-columns: repeat(7, 1fr);
      user-select: none;
      align-content: start;

      /* &:has(~ .monthblock) {
        margin-right: 1em;
      } */

      .monthheading {
        cursor:pointer;
        grid-column: 1 / span 7;
        text-align: center;
        font-size: 1.25em;
        margin-bottom: 0.5em;
      }


      .dayhead {
        text-align: center;
        text-transform: lowercase;
      }

      .day {
        position: relative;
        display: block;
        width: var(--blocksize);
        height: var(--blocksize);
        text-align: center;
        line-height: var(--blocksize);
        border: solid 0.001em var(--cal-tableborder);
        cursor: pointer;

        background: var(--cal-btnbg);
        /* border: 0.001em solid var(--cal-bg); */
        color: var(--cal-btnfg);

        &::before {
          content: attr(data-day);
          font-size:150%;
        }

        &:hover {
          background-color: var(--cal-hover);
          opacity: 1;
        }

        /* &:not([data-blockid]):hover {
          background-color: var(--calnoshifthover);
        } */

        &.selecteddate {
          background-color: var(--cal-selected);
        }

        &.today {
          color: var(--cal-today);
          font-weight:bold;
        }

        .slotplus,
        .slotminus {
          display: none;
        }
      }

    }
  }

  #calnavigator {
    position: relative;
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: calc(var(--blocksize) / 10);

    & > div {
      width: calc(var(--blocksize) - 10px);
      height: calc(var(--blocksize) - 10px);
      /* display: inline-block; */
      /* width: var(--blocksize);      height: var(--blocksize); */

      text-align: center;
      padding: 0;
      cursor: pointer;
      line-height: var(--blocksize);

      background: var(--cal-btnbg);
      border: 0.001em solid var(--cal-bg);
      color: var(--cal-btnfg);

      &:hover {
        background-color: var(--cal-btnhover);
      }

      &::before {
        content: attr(data-mark);
        font-size:150%;
      }

    }

    #navcal {
      flex-grow: 0.85;
      width: calc(var(--blocksize) * 3);
    }
  }
}

/* For smaller screens, or mobile touch device */
@media only screen and (max-width: 500px),
  screen and (max-width: 500px) and (pointer: coarse) {
  body {
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 992px) {
  .calholder {
    flex-direction: row;
  }
}
